img.large{
    max-width: 100%;
    height: auto;
    display: block;
    /* z-index: 5; */
}

img.medium_big{
    width: 400px;
    height: 280px;
}

/* img.medium_java{
    position: absolute;
    width: 450px;
    height: 320px;
    z-index: 5;
} */

img.big {
    width: 600px;
    height: 400px;
}

img.medium{
    margin: 20px;
    width: 50%;
    height:30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

img.logo{
    width:90px;
    height:auto;
}

img.image-personal{
    /* position: absolute;
    z-index: 5; */
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    width:400px;
    height:280px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    clear: both;
}

/* .under{
    z-index:-1;
} */

.image-left {
    float: left;
    width: 400px;
    height:280px;
    margin: 20px;

}

/* .image-java {
    float: left;
    width: 450px;
    height:320px;
    margin: 20px;

} */

.image-left-custom {
    float: left;
    width: 400px;
    height:507px;
    margin: 20px;
}

/* .image-left-erd {
    float: left;
    width: 626px;
    height:640px;
    margin-right: 15px;
    margin-bottom: 15px;
    text-align: center;
    background-image: url("../images/ERD.png");
    background-size: cover;
} */

.image-database {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    width:70%;
    height:auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.image-python {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    width:40%;
    height:auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.image-java {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    width:50%;
    height:auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.image-structures{
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    width:50%;
    height:auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.image-console{
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    width:100%;
    height:auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

/* .image-left-stored-procedure {
    float: left;
    width: 640px;
    height:500px;
    margin-right: 15px;
    margin-bottom: 15px;
    text-align: center;
    background-image: url("../images/Player_SP.png");
    background-size: cover;
} */

.img-right {
    float:right;
    width: 350px;
    margin: 20px;
}

@font-face {
    font-family: Krub;
    src:url('../Fonts/Krub/Krub-Regular.ttf');
}


* {
    font-family: Arial, 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-family: 'Cascadia Code';
    font-family: "BahnSchrift Light";
    font-family: "Comfortaa";
    /* font-family: "Krub-Regular"; */
}



@font-face {
    font-family:ShadowsIntoLight-Regular;
    src:url('../Fonts/Shadows_Into_Light/')
   
}

@font-face {
    font-family:BethEllen-Regular;
    src:url('../Fonts/Beth_Ellen/BethEllen-Regular.ttf');
}

@font-face {
    font-family: Krub;
    src:url('../Fonts/Krub/Krub-Regular.ttf');
}


hgroup.title {
    position: absolute;
    float: left;
    /* bottom: 3vh; */
    top: 15em;
    left: 5vw;
    padding: 10px;
    margin: 0px;
    width: 90%;
    /*font-weight: bold;*/
    font-size: 2.3vw;
    /* font-style: italic; */
    color: #efefef;
    /* font-family: "Krub-Regular"; */
}
.title h2{
    font-family: "BethEllen-Regular";
    font-size: 2.5vw;
}

nav a {
    color: white;
    text-decoration: none;
    /* font-weight: bold; */
    text-shadow:2px 2px 7px #111111;
}
nav a:hover {
    color:  #5f0d0d;
    font-weight: bold;
    text-decoration: none;
}


nav>ul{
    list-style:none;
    position:absolute;
    float: left;
    top: 5vh;
    left: 20vw;
    text-align: center;
}


nav>ul>li {
    float:left; 
    position:relative;
    height:auto;
    margin-left: 5vw;
    /* padding:0 10px 0 10px; */
    font-size: 1.4vw;
    /* text-align: center; */
   
}

nav>ul>li>ul {
    list-style:none;
    width: auto;
    height:auto;
    display:none;
    position:absolute;
    padding-inline-start: 0px;
    left: -1.4vw;
    
 }
 nav>ul>li>ul>li {
    margin-top: 2vh;
    /* text-align: center; */
 }

nav li:hover ul {
    display:block;
    height:auto;
    }



.wrapper {
    /* background-color:  rgba(153, 147, 148, 0.6); */
    margin-top: 50px;
    /* background-size: cover;
    height: 1000px; */
}

.wrapper a:hover {
    color: #efefef;
    text-decoration: none;
}

.wrapper-with-back{
    background-color:  rgba(153, 147, 148, 0.6);
    margin-top: 50px;
    padding: 20px;
    height: auto;
    line-height:1.8;
}

.wrapper-with-back h1{
    font-size: 1.6em;
    font-weight: bold;
    color: #5f0d0d
}

.wrapper-with-back h2{
    font-size: 1.3em;
    font-weight: bold;
}

.wrapper-with-back a {
    color:  #5f0d0d;
    text-decoration: none;
    font-weight: bold;
}

/* .wrapper-with-back p{
    width: 980px;
  
} */

/* .wrapper-structures{
    background-color:  rgba(153, 147, 148, 0.6);
    margin-top: 50px;
    width: 100% ;
    height: auto;
    padding: 40px;
    color: #3a3838;
    font-size: 16px;

} */

.wrapper-personal{
    background-color:  rgba(153, 147, 148, 0.6);
    margin-top: 50px;
    background-size: cover;
    height: 2200px;
    padding: 40px;
    color: #3a3838;
    font-size: 16px;

}

.wrapper-structures h1 {
    font-size: 36px;
    color: #5f0d0d;
}

.wrapper-personal h1 {
    font-size: 36px;
    color: #5f0d0d;
}


/* .items-no-flex{
    float:left;
    width: 650px;
    margin: 10px;
} */

.items article{
    clear: both;
    /* font-size: 20px; */
    width: 60%;
    /* width: 600px; */
    
}

.items figure{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

article h2{
    font-size: 1.3em;
    font-weight: bold;
    color: #5f0d0d
}

article a:link{
    text-decoration: none;
}

article a:hover h2{
    color: #efefef;
    text-decoration: none;
}

figure{
    /* float: left; */
    /* width: 300px; */
    height: auto;
    margin: 1.2em;
}

aside {
    /* float:left; */
    width: 300px;
    margin: 10px;
    margin-top: 40px;
    font-family: Arial, 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-family: 'Cascadia Code';
    /* font-size: 20px; */
    line-height: 1.8em;
    color: black;
}

aside a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.projects a hgroup {
    float: left;
    width: 400px;
    height: 250px;
    margin-top: 20px;
    margin-left: 100px;
    background-color:  rgba(78, 76, 77, 0.993);
    color: aliceblue;
    text-align: center;
}

.projects h1{
    font-size: 32px;
    font-weight: bold;
    color:#5f0d0d
}

.skills{
    float:left;
    width: 700px;
    margin-left: 150px;
    font-size: 20px;
    line-height: 1.8em;
    color: #3a3838;
}

.skills h1{
    
    font-weight: bold;
    font-size: 36px;
    color: #5f0d0d;
}

.skills a {
    text-decoration: none;
    color: #3a3838;
    font-size: 26px;
    font-weight: bold;
}


.description {
    width: 1000px;
    line-height: 1.8em;
}

.description article{
    float:left;
    height: auto;
    margin: 10px;
}

.description div {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.description table{
    width: 850px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}
th, td {
    padding: 7px 10px 10px 10px;
}
th{
    letter-spacing: 0.1em;
    border-bottom: 2px solid black;
    border-top: 1px solid black;
    text-align: left;
    font-weight: bold;
    color: #5f0d0d;
}
tr.even {
    background-color: #d1cdcd;
}
tr:hover{
    background-color: #d1cdcd;
}

.circle {
    height: 45px;
    width: 45px;
    background-color:  #5f0d0d;
    opacity: 0;
    border-radius: 50%;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    color:   #d1cdcd;
    float:right;
    position:fixed;
    bottom: 10vh;
    right: 5vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  }

  .navbar {
    right: 5vw;
    top: 7vh;
    position: absolute;
    width: 60px;
    display: block;
    /* margin: 50px auto; */
    border: none;
    padding: 8px 10px;
    transition: all 0.5s;
   -webkit-transition: all 0.5s;
}

.navbar div{
    height: 5px;
    background: #5f0d0d;
    margin: 7px 0px 7px 0px;
    border-radius: 25px;
    transition: all 0.5s;
   -webkit-transition: all 0.5s;
}

.two { width: 35px; }
.three { width: 50px;}
.navbar:hover div { width: 60px;}

/* .spelling_menu{
    width:250px;
    height:260px;
    float:left;
    margin-right: 10px;
} */

section {
    display:flex;
    flex-wrap: wrap;
    background-color:  rgba(153, 147, 148, 0.6);
    width:100%;
    height:auto;
    line-height: 1.7;
}

.small_item{
    display:flex;
    /* flex: 1; */
   
}

/* .small_item:nth-of-type(1) {
    flex: 2;
} */

.text{
    width: 80%;
    line-height: 1.8;
}

/* .LinkedIn a{
    font:bold;
} */

