* {
    font-family: Arial, 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-family: 'Cascadia Code';
    font-family: "BahnSchrift Light";
    font-family: "Comfortaa";
}

@font-face {
    font-family:BethEllen-Regular;
    src:url('../Fonts/Beth_Ellen/BethEllen-Regular.ttf');
}

img.medium{
    width: 400px;
    height: 300px;
}

img.card-size{
    width: 400px;
    height: 500px;
    /* opacity: 0.6; */
}

img.ajax-image{
    width: 550px;
    height: 400px;
    /* opacity: 0.6; */
}

.card{
    width: 45vw;
    height: 70vh;
    margin-top: 10vh;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 2vh;
    text-align: center;

}

.card article{
    width:400px;
    height:500px;
    background-color: rgb(164, 167, 141);
    opacity: 0.6;
    text-align: center;
    /* padding-top: 10px; */
}

.one{
    width: 100vw;
    height: 100vh;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.four{
    width: 50vw;

}

nav a {
    color: white;
    text-decoration: none;
    /* font-weight: bold; */
}
nav a:hover {
    color:  #7a926c;
    font-weight: bold;
    text-decoration: none;
}

nav>ul{
    list-style: none;
    position: absolute;
    float:left;
    left: 20vw;
    top: 5vh;
}

nav>ul>li{
    float:left;
    position: relative;
    /* width: 8vw; */
    height: auto;
    margin: 0 2.5vw 0 2.5vw;
    /* margin:2vw; */
    display:block;
    /* text-align: center; */
    font-size: 1.3vw;

}

nav>ul>li>ul {
    list-style:none;
    width: auto;
    height:auto;
    display:none;
    position:absolute;
    padding-inline-start: 0px;
    left: -1.4vw;
}

nav>ul>li>ul>li {
    margin-top: 15px;
 }

nav li:hover ul{
    display: block;
    height: auto;
}



.scrolling-wrapper{
    display: flex;
    flex-direction: row;
    width: 320vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}


.outer-wrapper{
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y:scroll;
    overflow-x:hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

::-webkit-scrollbar{
    display: none;
}

body{
    background-image: url("../images/lance-anderson-NrDYqseeAxk-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.title {
    float: left;
    position: absolute;
    bottom: 10vh;
    left: 5vw;
    color: white;
    font-size: 36px;
}

.title h2{
    font-family: "BethEllen-Regular";
    font-size: 2.5vw;
    text-align: left;
}

.navbar {
    float:left;
    left: 5vw;
    top: 7vh;
    position: fixed;
    direction: rtl;
    width: 60px;
    display: block;
    /* margin: 50px auto; */
    border: none;
    padding: 8px 10px;
    transition: all 0.5s;
   -webkit-transition: all 0.5s;
} 

.navbar div{
    height: 5px;
    background: rgb(186, 190, 146);
    margin: 7px 0px 7px 0px;
    border-radius: 25px;
    transition: all 0.5s;
   -webkit-transition: all 0.5s;
}

.uno{ width: 60px;}
.dos { width: 35px; }
.tres { width: 50px;}
.navbar:hover div { width: 60px;}

